@import "../../variables";
@import "../../function";

.Splash {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  #{&}__Headings {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;

    h1 {
      font-size: 4rem;

      span {
        color: $accent;
      }
    }
  }

  #{&}__Actions {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    margin-top: 7rem;

    .Splash__Join {
      text-align: center;

      margin-right: 1rem;

      width: 30%;

      input {
        width: clamp(250px, 100%, 400px);

        margin-top: 0.5rem;
        padding: 0.5rem 1rem;

        background-color: $secondary;

        border: none;
        border-radius: 1rem;

        color: $text;

        &::placeholder {
          color: $text;
        }
      }
    }

    .Splash__Create {
      text-align: center;

      margin-left: 1rem;

      width: 30%;

      button {
        width: clamp(250px, 100%, 400px);

        margin-top: 0.5rem;
        padding: 0.5rem 1rem;

        background-color: $secondary;

        border: none;
        border-radius: 1rem;

        color: $text;
      }
    }
  }
}
